<header class="header">
  <div class="header-inner">
    <div class="logo">
      <%= link_to image_tag("molkky.png"), "/" %>
    </div>
    <div class='nav'>
      <ul class='nav-item'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user.id),  class: "header-left-button" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-right-button" %></li>
        <% else %>
          <li><%= link_to '新規登録', new_user_path, class: "header-left-button" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "header-right-button" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>